@* @{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}  *@  
 

@*Start Body*@
    <Center>
        <div class="mt-5">
            <h1>Welcome To Home Page</h1>
        </div>
    </Center>
    @*End Body*@